%h1 Your new image is below!

%p
  = link_to 'Edit again', new_asset_resize_path(@asset.identifier)
  |
  = link_to 'View all uploaded files', assets_path
  |
  = link_to 'Download this image', asset_resize_path(@asset.identifier, @token)

%p= image_tag(@resized_file)