%h1 Minimise It

.intro
  .box.left
    %h2 What's this?
  
    %p Minimise It is a simple photo editing service. All you have to do is pick an image, hit upload then use the user-friendly interface to adjust the size to whatever you want, when you're done, download the resulting image.
  
    %h2 Why?
  
    %p= "At <a href='http://agincourttech.com/'>Agincourt</a>, we found a lot of our customers didn't have access to Photoshop or other image editing software, so cropping/resizing imagery to particular sizes required a web designers input, which isn't ideal for the client (because of the cost) or the designer (because of the remedial task)"
  
  .box.right.upload
    %h2 Upload an image

    - form_for(@asset, :html => { :multipart => true }) do |f|
      = f.error_messages
  
      = f.file_field :attachment
  
      %button{ :type => 'submit' } Upload &raquo;
      = image_tag('/images/loading.gif', :size => '16x16', :alt => '', :class => 'loading')
    
    %p 
      Formats accepted:
      %strong JPG, PNG, GIF,
      Max Size:
      %strong 10mb
    %p.sub
      %strong Note:
      Images are automatically deleted after 7 days. 
    %p.sub This service is provided without warranty or guarantee, do not upload sensitive files, we do not protect any confidential information. Use at your own risk.