%h1= File.basename(@asset.attachment.path)

%p.actions
  = link_to 'View all uploaded files', assets_path
  |
  = link_to 'Resize this image', new_asset_resize_path(@asset.identifier)

%p.preview= image_tag @asset.attachment.url(:thumbnail)

%p.preview Images are automatically deleted after 7 days.